.App {
  font-family: sans-serif;
  text-align: center;
}

.App table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  text-align: left;
  font-size: 13px;
}

.App table th,
.App table td {
  border: 1px solid black;
  padding: 5px;
}
